.button {
    background-color: cadetblue; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid cadetblue;
}

.button1:hover {
    background-color: cadetblue;
    color: white;
}
h1, h2, h3 ,label{
    font-family: "DejaVu Sans";
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}
section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}
html {
    width: 100vh;
    margin: auto;
    background: url(https://wallpaperaccess.com/full/4096691.jpg) no-repeat center fixed;
    background-size: cover;

}

table {
    font-family: "DejaVu Sans";
    border-collapse: collapse;
    width: 100%;
    backdrop-filter: blur(2px);
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: lightseagreen;

}

td {
    background-color: rgba(255, 255, 255, 0.5);

}

tr:hover {
    background-color: lightseagreen;
}

a{
    background: aliceblue;
}
.error
{
    background: red;
    font-family: Bahnschrift;
    color: black;
}