<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>WP lab - Delivery Info</title>
    <link rel="stylesheet"  th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/css/favicon.ico}">

</head>
<body>
<header>
    <h1>Balloon Order page - Delivery information </h1>
</header>
<section>

    <form th:method="POST" th:action="@{/ConfirmationInfo}">
        <label for="clientName">Client Name:</label><br/>
        <input type="text" id="clientName" name="clientName"/><br/>
        <label for="clientAddress">Delivery Address:</label><br/>
        <textarea cols="40" rows="3" id="clientAddress" name="delivery"></textarea><br/>
        <p>
            <label for="date" class="sr-only">Order date and time</label>
            <input type="datetime-local" id="date" name="date"  required="" autofocus="">
        </p>
        <input type="submit" value="Submit">
    </form>

</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>

        <tr>
            <td><b>Balloon Color </b></td>
            <td th:text="${colour}"></td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td th:text="${size}"></td>
        </tr>
    </table>
</aside>
</body>
</html>