<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"  th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/css/favicon.ico}">

</head>
<body>

<div class="container" xmlns:th="http://www.thymeleaf.org">
    <p class="error" th:if="${param.error}!=null">WRONG USERNAME OR PASSWORD</p>
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a href="/register" class="btn btn-block btn-light">Register here</a>
</div>
</body>
</html>